@model int;

@if (Model > 0)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Favorites" asp-action="FavoritesList">
            <i class="bi bi-bookmark-star-fill"></i> @Model
        </a>
    </li>
}