@model List<Favorite>

@{ 
    ViewData["Title"] = "All Favorites";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your Favorites</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Favorite List</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var favorite in Model)
                {
                <tr>
                    <td class="align-middle">@favorite.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                            @foreach (var item in favorite.FavoriteItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@item.Amount</span>] - @item.Movie.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                     
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle"> @favorite.User.FullName </td>
                    }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>